# Ignore dataset files
dataset/

# Ignore virtual environment
venv/

# Ignore cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore package list files (if not needed)
packages.txt

# Ignore temporary and log files
*.log
temp_files/
